<%= form_for(micropost, remote: 'true') do |f| %>
    <div class="field">
      <%= f.text_area :content, placeholder: "Compose new micropost...", :style => 'width: 100%;', :id => 'm_form' %>
    </div>
    <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>