<div class="col-md-2">
  <%= image_tag user.avatar.url(:thumb), :class => 'circle' %>
</div>
<h1><%= user.name %></h1>
<div class="col-md-5 col-md-offset-3">
  <div><%= link_to "view my profile", show_user_path(user) %></div>
</div>
<div class="col-md-6 col-md-offset-3">
  <div><%= pluralize(user.microposts.count, "micropost") %></div>
</div>
